body {
  font-family: "Roboto", sans-serif;

  color: #434455;
  background-color: #ffffff;
}
:root {
  --color-iris: rgba(77, 90, 229);
  --color-ocean: rgba(64, 75, 191);
  --color-navy-blue: rgba(46, 47, 66);
  --color-green: rgba(49, 208, 170);
  --color-slate: rgba(67, 68, 85);
  --color-light-slate: rgba(142, 143, 153);
  --color-cornflower: rgba(231, 233, 252);
  --color-cloud: rgba(244, 244, 253);
  --color-navy-blue-modal: rgba(46, 47, 66);
  --color-grey: rgba(46, 47, 66);
  --color-white: rgba(255, 255, 255);
  --color-dairy: rgba(252, 252, 252);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

.header {
}
.header-navigation {
}
.header-link-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-link-logo-second {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}

.header-list {
}

.header-item {
}
.header-link {
}
.header-address {
}
.header-address-list {
}
.header-address-item {
}
.header-address-link {
}
